.content {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 650px) {
    .hero {
        flex-basis: 60%;
    }

    .top-news {
        flex-basis: 40%;
    }

    .header__title {
      font-size: 4em;
    }
}
  
  @media screen and (min-width: 850px) {
    main, .header__inner, .nav, .content {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
    }
  }